backend/.venv/

backend/*.pyc
backend/__pycache__/

backend/instance/

.pytest_cache/
.coverage
backend/htmlcov/

backend/dist/
backend/build/
*.egg-info/

# dependencies
/frontend/infsim/node_modules
.pnp
.pnp.js

# testing
/frontend/infsim//coverage

# production
/frontend/infsim//build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/frontend/infsim/npm-debug.log*
/frontend/infsim/yarn-debug.log*
/frontend/infsim/yarn-error.log*