:root{
    --dim: calc(100/32)%;
}
div.board{
    background-color: azure;
    height: 70svw;
    width: 70svw;
    overflow-y: scroll;
    overflow-x: scroll;
    
}::-webkit-scrollbar{
   
   width: 0;
   height: 0;
}
//TODO: eliminate spaces between rows -? set square h/w, set row h/w to fit square.
div.chunk{ 
    background-color: pink;
    // border: 1px solid black;
    height:    2000px;
    width: 2000px;
    // padding:10px;
    display: flex;
    flex-wrap: wrap;
    
}
.dashBoard{
    background-color: darkgrey;
    width: 30svw;
    overflow: hidden;
}
.App{
    text-align: center;
   display: flex;
    
}
// div.App{
//     height: 100vh;
// }
div.board-row{
    width:100%;
    height:  1.5625%;
    margin-bottom: 2px;
    margin-top: 2px;
}
button.square{
    background-color: white;
    width: 1.5625%;
    height: 100%;
    border-radius:5px;
    margin-left:2px;
    margin-right: 2px;

    

}